source "Kconfig.zephyr"

rsource "../src/Kconfig.uart_mux"

config UART_MUX_TEST
	bool "UART mux test application"
	default y

config TEST_BLE_EVENT_PERIOD_MS
	int "Protocol A event period (ms)"
	default 500

config TEST_OT_EVENT_PERIOD_MS
	int "Protocol B event period (ms)"
	default 1000

config TEST_SYS_PERIOD_MS
	int "System heartbeat period (ms)"
	default 2000

