# ST Microelectronics STM32 MCU line

# Copyright (c) 2016 Open-RnD Sp. z o.o.
# SPDX-License-Identifier: Apache-2.0

config SOC_FAMILY_BLUENRG
	bool
	select BUILD_OUTPUT_HEX

if SOC_FAMILY_BLUENRG
config SOC_FAMILY
	string
	default "st_bluenrg"

source "soc/st/st_bluenrg/*/Kconfig.soc"

endif # SOC_FAMILY_BLUENRG
