/*
 * Copyright (c) 2025 STMicroelectronics
 *
 * SPDX-License-Identifier: Apache-2.0
 */

usart_console: &usart2 {
	clocks = <&rcc STM32_CLOCK(APB1, 17)>,
		 <&rcc STM32_SRC_HSI16 USART2_SEL(2)>;
	pinctrl-0 = <&usart2_tx_pa14 &usart2_rx_pa11>;
	pinctrl-1 = <&analog_pa14 &analog_pa11>;
	pinctrl-names = "default", "sleep";
	current-speed = <115200>;
	status = "okay";
};

usart_mux: &usart1 {
	clocks = <&rcc STM32_CLOCK(APB2, 14)>,
		 <&rcc STM32_SRC_HSI16 USART1_SEL(2)>;
	dmas = <&gpdma1 0 12 STM32_DMA_PERIPH_TX>,
	       <&gpdma1 1 11 (STM32_DMA_PERIPH_RX | STM32_DMA_MODE_CYCLIC)>;
	dma-names = "tx", "rx";
	pinctrl-0 = <&usart1_tx_pb12 &usart1_rx_pa8 &usart1_cts_pa7 &usart1_rts_pa6>;
	pinctrl-1 = <&analog_pb12 &analog_pa8 &analog_pa7 &analog_pa6>;
	pinctrl-names = "default",
	                "sleep";
	hw-flow-control;
	current-speed = <2000000>;
	fifo-enable;
	status = "okay";
};

/ {
	/* Separate node for the extra GPIOs for power management */
	usart_mux_pm: usart_mux_pm {
		compatible = "st,uart-power-ctrl";   /* custom compatible */
		wakeup-from-host-gpios = <&gpioa 0 GPIO_ACTIVE_HIGH>;   /* Wakeup from host */
		wakeup-to-host-gpios = <&gpioa 1 GPIO_ACTIVE_LOW>;    /* Wakeup to host */
	};
};

&gpdma1 {
	status = "okay";
};

&clk_hse {
	clock-frequency = < DT_FREQ_M(64) >;
};

#include "nucleo_wbaxx.dtsi"

