/*
 * Copyright (c) 2025 STMicroelectronics
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&usart1 {
	status = "okay";
};

usart_mux: &usart2 {
	clocks = <&rcc STM32_CLOCK(APB1, 17)>,
		<&rcc STM32_SRC_SYSCLK USART2_SEL(1)>;
	dmas = <&gpdma1 0 14 STM32_DMA_PERIPH_TX>,
	       <&gpdma1 1 13 (STM32_DMA_PERIPH_RX | STM32_DMA_MODE_CYCLIC)>;
	dma-names = "tx", "rx";
	pinctrl-0 = < &usart2_tx_pa12 &usart2_rx_pa11 &usart2_rts_pa15 &usart2_cts_pb15 >;
	pinctrl-1 = < &analog_pa12 &analog_pa11 &analog_pa15 &analog_pb15 >;
	pinctrl-names = "default",
	                "sleep";
	hw-flow-control;
	current-speed = <2000000>;
	fifo-enable;
	status = "okay";
};

&gpdma1 {
	status = "okay";
};

&clk_hse {
	clock-frequency = < DT_FREQ_M(64) >;
};

/ {
	uart_mux_bt: uart-mux-bt {
		compatible = "st,uart-mux";
			priority = <0>;   /* BLE HCI – highest */
			plc_tx = <0x91>; /* Specified in payload */
			plc_rx = [91];
			status = "okay";
	};

	uart_mux_ot: uart-mux-ot {
		compatible = "st,uart-mux";
			priority = <1>;   /* OpenThread */
			plc_tx = <0x92>; /* Specified in payload */
			plc_rx = [92];
         	status = "okay";
        };

	uart_mux_sys: uart-mux-sys {
		compatible = "st,uart-mux";
		priority = <2>;   /* system / logs */
		plc_tx = <0x90>;
		plc_rx = [90];
         	status = "okay";		
	};

	chosen {
		zephyr,bt-c2h-uart = &uart_mux_bt;
		zephyr,ot-uart = &uart_mux_ot;
		zephyr,console = &usart1;
		uart-mux = &usart_mux;
	};
};
