# ST Microelectronics BlueNRG MCU line

# Copyright (c) 2019 Linaro Limited
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_BLUENRG_3

config SOC_SERIES
	default "bluenrg_3"
	
source "soc/arm/st_bluenrg/bluenrg_3/Kconfig.defconfig.bluenrg_lp*"

endif # SOC_SERIES_BLUENRG_3