# STM32F412G-DISCO board configuration

# SPDX-License-Identifier: Apache-2.0

if BOARD_STEVAL_IDB011V2

config BOARD
	default "steval_idb011v2"

if BT

choice BT_HCI_BUS_TYPE
	default BT_STM32WB0
endchoice

choice BT_RECV_CONTEXT
	default BT_RECV_WORKQ_BT
endchoice

config BT_HCI_ACL_FLOW_CONTROL
	default n

endif # BT

endif # BOARD_STEVAL_IDB011V2
