# ST Microelectronics BLUENRG MCU line

# Copyright (c) 2019 Linaro Limited
# SPDX-License-Identifier: Apache-2.0

choice
	prompt "BLUENRG_LP MCU Selection"
	depends on SOC_SERIES_BLUENRG_3

config DEVICE_BLUENRG_LP
	bool "BLUENRG-LP (BlueNRG-355)"

endchoice
