# ST Microelectronics BlueNRG-LP MCU

# Copyright (c) 2019 Linaro Limited
# SPDX-License-Identifier: Apache-2.0

config SOC
	default "bluenrg_lp"
	depends on SOC_BLUENRG_LP

config NUM_IRQS
	default 32
