name: "Repo visibility check"

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: "Sanity check"
        run: echo "Workflow is visible and can be run on demand."
